<h1 style="text-align: center;">Services</h1>
<li *ngFor="let item of foodList; let i = index">
  {{ i + 1 }} - {{ item }}
</li>
<br>
<h1>-----------------------------------------------------------------------------------------------------------------------------</h1>
<h1 style="text-align: center;">Observable + http + Get + POST</h1>
<li *ngFor="let item of foodList2; let i = index">
  [{{ item.id }} - {{ item.nome }}]
</li>
<h1>-----------------------------------------------------------------------------------------------------------------------------</h1>
<h1 style="text-align: center;">DELETE</h1>
<li *ngFor="let item of foodList2" >
  [{{ item.id }}] - [{{ item.nome }}] <button (click)="foodListDelete(item.id)">Delete</button>

</li>
<h1>-----------------------------------------------------------------------------------------------------------------------------</h1>

<h1 style="text-align: center;">PUT</h1>
<li *ngFor="let item of foodList2" >
  [{{ item.id }}] - <input type="text" [(ngModel)]="item.nome" (keyup.enter)="foodListEdit(item.nome, item.id)">
  <button (click)="foodListDelete(item.id)">DELETE</button>

</li>
